@component('components/layout', { title: 'Accueil' })
@each((deck, index) in decks)
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{deck.title}}</h5>
        <p class="card-text">{{deck.description}}</p>
        <a href="#" class="btn btn-primary">Jouer</a>
        <a href="{{ route('deck.show', {id: deck.id})}}" class="btn btn-primary">Voir le deck</a>
    </div>
</div>
@end
@endcomponent