@component('components/layout', { title: 'Mes decks' })
<div class="min-h-screen w-screen font-sans">
    <h3>
        Mes Decks
    </h3>
    <form action="#" method="post">
        <table>
            <thead>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @each ((deck, index) in decks)
                <tr>
                    <td>
                        {{deck.title}}
                    </td>
                    <td>
                        {{deck.description}}
                    </td>
                    <td class="containerOptions">
                        <a href="{{ route('deck.show', {deckId: deck.id})}}">
                            <img height="20em" src="/adonisjs/resources/img/edit.png" alt="voir le deck" />
                        </a>

                    </td>
                </tr>
                @end
            </tbody>
        </table>
    </form>
    @endcomponent

    </html>