@component('components/layout', { title: 'Accueil' })
<div class="card">
    <div class="card-body" style="width: 18rem;">
        <h2 class=" text-center"> {{deck.title}} </h2>
        <p class="text-center"> {{deck.description}} </p>
        <a class="btn btn-primary" href="{{ route('deck.edit', {id: deck.id})}}">Editer</a>
        <a class="btn btn-secondary">Supprimer</a>
    </div>
</div>
@endcomponent