<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <textarea class="form-control {{ flashMessages.has(`errors.${name}`) ? 'is-invalid' : '' }}" name="{{ name }}" id="{{ name }}" placeholder="{{ label }}" rows="3">{{ value || '' }}</textarea>
    
    @inputError(name)
        @each(message in $messages)
            <div class="invalid-feedback">
                {{ message }}
            </div>
        @end
    @end
</div>